# ============================
#   C++ Build Artifacts
# ============================
*.o
*.obj
*.lo
*.la
*.al
*.out
*.a
*.so
*.dll
*.dylib
*.lib
*.exp
*.pdb

# ============================
#   Temporary Files
# ============================
*.tmp
*.temp
*.log
*.cache

# ============================
# IDE
# ============================
.vscode/
*.user

# ============================
# Logs
# ============================
*.log

# ============================
#   OS Garbage
# ============================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp
*.swo

